{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}


        <div class="justify-content-center">
            <form method="post" class="text-light">

                {% include 'users/includes/base_form.html' %}

                <p class="text-center text-light"><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p>
                <p class="text-center text-light">Нет аккаунта? <a href="{% url 'users:signup' %}">Зарегистрироваться</a></p>
                <div class="text-center text-light">
                    <button type="submit" class="btn btn-success me-2">Войти</button>
                </div>

            </form>


{% endblock %}