{% extends 'base.html' %}
{% block title %}Список пользователей{% endblock %}
{% block content %}



    <div class="container rounded bg-white mt-5 mb-5 p-5">
        <h1 class="text-center text-dark col-12">Список пользователей</h1>
        <div class="row justify-content-center">
            {% for user in users %}
                <a href="{% url 'users:user_detail' user.pk %}"><h5 class="text-center">{{ user.get_full_name }}</h5></a>

            {% endfor %}
        </div>
        <br>
    </div>
{% endblock %}