{% csrf_token %}
{% load static %}
<div class="container justify-content-center text-light">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% for field, error in form.errors.items %}
        <div class="alert alert-danger my-3 p-1" role="alert">
            {{ error|striptags }}
        </div>
    {% endfor %}
    {% for field in form %}

        <div class="row justify-content-center">
            <div class="form-group" align="center">
                <p class=" text-center"><b>{{ field.label_tag }}</b></p>
                <div style="">{{ field }}</div>
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}

</div>

