{% extends 'base.html' %}
{% load static %}
{% block title %}
    Домашняя страница
{% endblock %}
{% block static %}
    <link rel="stylesheet" href="{% static "homepage/css/main.css" %}">
{% endblock %}
{% block content %}



    <div class="container-fluid">
        <section class="ds section-home p-3">
            <div class="container">
                <div class="divider-50 divider-xl-65"></div>
                <div class="row align-center">
                    <div class="col-lg-6 col-xl-5 order-lg-1 order-2 text-center text-md-left">
                        <div class="divider-60 divider-lg-0"></div>
                        <h5 class="special-heading bold mb-2 text-white">
                            <span>Добро пожаловать</span>
                        </h5>
                        <p class="fw-semibold">
                            Лучшее онлайн таро, которое использует технологии AI
                        </p>
                        <div class="line"></div>
                        <div class="divider-40 divider-xl-60"></div>
                        <h3 class="special-heading fw-500 mb-2 color-main2 big-size">
                            <span>ONLINE TAROT</span>
                        </h3>

                        <div class="divider-35 divider-xl-65"></div>
                        <a href="{% url "users:signup" %}" class="btn" style="background:#FEEBC7 ">Попробовать</a>
                    </div>
                    <div class="col-lg-6 col-xl-7 order-lg-2 order-1 text-center text-lg-right">
                        <img class="horoscope-image" src="{% static 'homepage/img/horoscope.png' %}" alt="img">
                    </div>
                </div>
            </div>
        </section>
        <div class="container mt-4">
            <div class="row text-light">
                <h1 class="col-12">Что-то о нас</h1>
                <ul class="list-group list-group-flush ms-5 py-5">
                    <li class="list-group-item mt-4" style="border-radius: 20px">
                        Мы крутые
                    </li>
                    <li class="list-group-item mt-4" style="border-radius: 20px">
                        Мы крутые
                    </li>
                    <li class="list-group-item mt-4" style="border-radius: 20px">
                        Мы крутые
                    </li>
                </ul>
            </div>
        </div>
    </div>




{% endblock %}