{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        {% block static %}{% endblock %}
        <link rel="stylesheet" href="{% static "main.css" %}">
        <link rel="stylesheet"
              href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'favicons/apple-touch-icon.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'favicons/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'favicons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
        <link rel="mask-icon"
              href="{% static 'favicons/safari-pinned-tab.svg' %}"
              color="#5bbad5">
        <link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="msapplication-config"
              content="{% static 'favicons/browserconfig.xml' %}">
        <meta name="theme-color" content="#ffffff">
        <style>
        body {
            background-color: #2F242C;
        }
        </style>
    </head>
    <body style="background: #2F242C;">
        <header>
            <div class="container mb-4 mt-2">
                <div class="d-flex justify-content-between">
                    <div class="navbar-header fixed-brand menu">
                        <a href="">
                            <button type="button"
                                    class="navbar-toggle collapsed rounded-5 py-2 px-3"
                                    data-toggle="collapse"
                                    id="menu-toggle"
                                    style="background: #3E3545;
                                           border-color: #1f042d">
                                <span style="color: #FEEBC7">Menu</span>
                            </button>
                        </a>
                    </div>
                    <a class="navbar-brand mx-5 fs-3 fw-normal"
                       href="{% url 'homepage:home' %}"
                       style="color: #FEEBC7">ONLINE
                    TAROT</a>
                    {% if user.is_authenticated %}
                        <a class="btn btn-outline-light"
                           href="{% url 'coins:get_bonus_money' %}">Бонусные монетки
                            <br/>
                            <span class="fs-6">{{ bonus_status }}</span>
                        </a>
                        <div class="rounded-5 px-4 py-2 " style="background: #1E1E1E">
                            <span class="fw-light fs-5 text-light">{{ balance }}🪙</span>
                            <span class="text-light me-2 fs-5"></span>
                            <a href="{% url 'users:profile' %}"><strong class="text-light text-decoration-none">{{ user.email }}</strong></a>
                            {% if user.profile_picture %}
                                <img src="{{ user.profile_picture.url }}"
                                     alt=""
                                     width="53"
                                     height="53"
                                     class="rounded-circle mx-2">
                            {% else %}
                                <img src="{% static 'users/blank_user_picture.png' %}"
                                     alt=""
                                     width="53"
                                     height="53"
                                     class="rounded-circle mx-2">
                            {% endif %}
                            <a class="text-danger text-decoration-none"
                               href="{% url 'users:logout' %}">Выйти</a>
                        </div>
                    {% else %}
                        <div>
                            <a class="btn btn-success me-2" href="{% url "users:login" %}">Вход</a>
                            <a class="btn btn-light" href="{% url "users:signup" %}">Регистрация</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </header>
        {% if messages %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show bg-light"
                                 role="alert">
                                {{ message }}
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div id="wrapper">
            <div id="sidebar-wrapper" style="background: #3E3545;">
                <ul class="sidebar-nav nav-pills nav-stacked py-5 ps-5" id="menu">
                    <li class="my-5">
                        <a href="{% url 'homepage:home' %}">
                            <span class="fs-3">Главная</span>
                        </a>
                    </li>
                    <li class="my-5">
                        <a href="#">
                            <span class="fs-3">Таропедия</span>
                        </a>
                    </li>
                    <li class="my-5">
                        <a href="#">
                            <span class="fs-3">История</span>
                        </a>
                    </li>
                    <li class="my-5">
                        <a href="{% url 'users:profile' %}">
                            <span class="fs-3">Аккаунт</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="inner" id="no_active_content"></div>
        <div class="inner" id="content">
            {% block content %}{% endblock %}
            <footer class="container position-relative p-4 text-light">
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2022 Copyright: TAROT ONLINE</div>
            </footer>
        </div>
        <script type="text/javascript"
                src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" defer src="{% static "main.js" %}"></script>
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>
