{% extends 'base.html' %}
{% load static %}
{% block title %}Список гаданий{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-light">Список гаданий</h1>
        {% for fortune in fortunes %}
            <style type="text/css">
        .fortune {
            background-color: #580599;
        }
            </style>
            <div class="badge fortune p-3 col-12">
                <p class="h3">{{ fortune.title_for_main_page }}</p>
                <p class="text-light">{{ fortune.fortune_description }}</p>
                <div class="justify-content-end">
                    <a id="buy_button"
                       class="btn btn-primary"
                       href="{% url 'fortune:fortune_detail' fortune.slug %}"
                       role="button"
                       onclick="start_load()">
                        <span id="price">Купить {{ fortune.price }} 🪙</span>
                    </a>
                    <script type="text/javascript">
                        function start_load() {
                            document.getElementById('buy_button').classList.add('disabled');
                            document.getElementById('price').innerHTML = 'Загрузка...';
                        }
                    </script>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
